html, body {
    color: #4f4f4f;
    font-size: 14px;
    font-family: 'Segoe UI','Arial','Helvetica','Sans-Serif';
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 15px 0;
    padding: 0;
}
p {
    margin: 10px 0 30px 10px;
}
a, a:visited {
    color: #4888d2;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
h1 {
    color: #707070;
    font-size: 28px;
    font-family: 'Segoe UI Light','Segoe UI','Arial','Helvetica','Sans-Serif';
    font-weight: lighter;
    line-height: 28px;
    margin: 10px;
    padding: 0;
}
div.Note {
    width: 100%;
    margin: 0px 0px 15px 10px;
    float: left;
}
div.Version {
    width: 100%;
    color: #db7100;
    font-size: 20px;
    margin-bottom: 2px;
}
div.Released {
    width: 100%;
    color: #9cb2bd;
    font-size: 11px;
    margin-bottom: 5px;
}
div.Type {
    width: 100%;
    color: #4f4f4f;
    font-size: 14px;
    margin: 10px 0px 10px 15px;
    font-weight: bolder;
}
ol.Type {
    margin: 10px 0px 10px 35px;
    font-size: 14px;
    color: #9cb2bd;
    padding-left: 7px;
}
ol.Type ul {
    margin: 5px 0px 5px 15px;
    font-size: 14px;
    color: #4f4f4f;
    padding-left: 7px;
}
ol.Type ul li {
    width: 95%;
    margin-bottom: 5px;
}
ol.Type pre, ol.Type b {
    font-size: 12px;
    line-height: 12px;
}
#content
{
    width: 800px;
    padding: 20px;
}